nav a {
    padding:15px;
    text-decoration: none;
}

/*
Making Nav horizontal 
*/

nav {
    display: inline-block;
    font-size: 16px;
    position:fixed;
    width: 100%;    
    top:40px;

}

ul {
    min-width: 696px;
    list-style: none ;
    padding-top: 20px;
    display: inline;
}

ul li {display:inline;}

/*
navigiation menu positioning
*/

.navright {
    position:relative;
    left: 40%;
}
.navleft {
}

.HomeButton {
    position:relative;
    left:20%;
}

/*
 Drop down Testing 
 */

 .shopbtn {border: none;}
.Shop {
    position: relative;
    display: inline-block;
}
.shopdrop {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    z-index: 1;

}
.shopdrop a{
    color: black;
    padding: 12px 16px;
    display: block;
}
.shopdrop a:hover {background-color: #ddd;}
.Shop:hover .shopdrop {display: block; margin-top: 10px;}
.Shop:hover .shopbtn {text-decoration: underline;}

nav a {
    background-color: #ffffff;
    padding-top: 5px;
    padding-bottom: 5px;
    color:blue;
}

nav a:hover {text-decoration: underline;}

.Top_page_content{
    position: relative;
    top:10px;
}