:root {
  --main-color:#006EB6;
  --main-font:"Comfortaa Light";
  --secondary-font:"Book Antiqua";
  --large-font:3.75rem;
  --medium-font:2.5rem;
  --nav-height:71px;
  --break-height:45px; /* Guessitmate */
  --history-height:65vh; /* Guestimate*/
  --future-height:100vh;
  --space-80:80px;
  --space-70:70px;
  --conend-height:113px;
  --featured-height:calc(100vh + var(--nav-height) - var(--break-height) + var(--conend-height));
  --border-settings: 1px solid var(--main-color);
  --stagger-animation:2000ms;
  --lightasfuck-blue:#F5F9FC;
}


/*###########################
##      Global Settings    ##
###########################*/


* {
  box-sizing: border-box;
}

body {
  margin:0;
}

img {
  max-width: 100%;
}

h1 {
  color: var(--main-color);
  font: var(--large-font) var(--secondary-font);
  font-weight: 900;
}

h2 {
  font-size: var(--medium-font);
  font-weight: 900; 
  color: var(--main-color);
  margin: 0;
}

h3 {
  
}

a:hover:not(.navcart--icon) {
  text-decoration: underline;
}

ul li{
  list-style: none;
}


a {
  font-family: var(--main-font);
  color: var(--main-color);
  font-size: 14px;
  text-decoration: none;
  font-weight: 550;
}

/*
######################
#     Nav bar        #
######################
*/

nav {
  position: fixed;
  display:flex;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  z-index: 10;
  border-bottom: var(--border-settings);
}

.navbar{
  display: flex;
  width:100%;
  align-items: center;
  border-top: var(--border-settings);
}


.navbar li{
  margin-left: 20px;
}

.navbottombar {
  top:70px;
  bottom:0;
}

.navcart--icon {
  display: grid;
  position: relative;
  margin-right: 10px;
}

.icon--normal {
  grid-row: 1;
  grid-column: 1;
}

.icon--hover {
  visibility: hidden;
  grid-row: 1;
  grid-column: 1;
}

.navcart--icon:hover .icon--hover {
  visibility: visible;
}

.navright{
  justify-content:flex-end;
  padding-top: 12px;
}

.navleft {
  justify-content: flex-start;
  padding-top: 12px;
}

.HomeButton {
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  left: 50%;
  top:40px;
  transform: translate(-50%, -50%);
  z-index: 5;
}


/*
Dropdown
*/

.shop {
  position: relative;
}

.drop {
  display: none;
  position: absolute;
  top: var(--nav-height);
  left: 0px;
  height: calc(100vh - var(--nav-height));
  width: 100vw;
  z-index: 4;
  background-color: rgba(255 , 255, 255, 0.55);
}

.shopdrop {
  display: inherit;
  position: absolute;
  left: 0px;
  width: 100vw;
  height: 40vh;
  background-color: rgb(255, 255, 255);
  border-top: var(--border-settings);
  border-bottom: var(--border-settings);
  z-index: 5;
}

.shopdrop a {
  text-decoration: none;
  display: block;
}

.shop:hover .shopdrop {
  display: block;
}

.shopdrop > a:hover {
  text-decoration: underline;
}


/*
######################
#     Firstsegment   #
######################
*/


.segement-1 {
  display: grid;
  position: relative;
  margin-top: var(--nav-height);
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
}

.segement-1 .col--100vh {
  height: calc(100vh - var(--nav-height) - var(--break-height));
}

.col1 {
  position: relative;
}

.col1 > img {
  position: absolute;
  height: 100% ;
  width: 100%;
  object-fit: cover;
}


.col2 {
  display: flex;
  flex-direction: column;
  justify-content:center ;
}

.col2 > h1{ /* Website Style copied */
  padding: 0 70px;
  font-family: "Monday";
  font-style: normal;
  font-weight: 600;
  font-size: 53px;
  line-height: 62px;
}

.buttons {
  font-size: 0;
  padding-left: 70px;
}

.col2 button {
  color: var(--main-color);
  border:solid 1px var(--main-color);
  padding: 20px;
  width: 230px;
  cursor: pointer;
  margin-top: 20px;
}

.col1 > img:nth-child(2),
.col1 > img:nth-child(3) {
  opacity: 0;
}


.buttons > button:nth-child(1):hover,
.buttons > button:nth-child(2):hover {
  background-color: var(--main-color);
  color: white;
}

.buttons > button:nth-child(2){
  margin-left: -1px;
}




/*
######################
#    Break Box       #
######################
*/

.dividergap > .hero {
  display: flex;
  justify-content: center;
}

.hero li {
  display: inline-flex;
}

.dot::after {
  padding-left:15%;
  content:"·";
  font-size: large;
  color: var(--main-color);
}


.dot {
  margin-right: 20px;
}

.topbar, .bottombar {
  position:relative;
  left:0;
  width:100%;
  height:1px;
  background: var(--main-color);
  z-index: 1;
}

.bottombar {
  top: var(--break-height);
}

/*
######################
#   historysegement  #
######################
*/

.history {
  height: var(--history-height);
}

.text {
  margin-left: 30%;
  margin-right: 30%;
  text-align: center;
}

.bird img {
  display: block;
  height: 300px;
  width: auto;
  margin-left: auto;
  margin-right: auto;
}

.squiglycircle {
  display: flex;
  position:relative;
  right: 230px;
  z-index: 4;
}


/*
######################
#       future       #
######################
*/

.banner {
  display: flex;
  justify-content: center;
  padding-top: var(--space-80);
  padding-bottom: var(--space-80);
  border-top: var(--border-settings);
  border-bottom: var(--border-settings);
}



.future {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px,1fr));
  border-bottom:var(--border-settings);
}

.future > div:not(.center) > div > img {
  height: 80px;
  width: auto;
}

.future > div:not(.center) > div {
  display: flex;
  flex-direction:column ;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding:5% ;
}

.center > img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-left: var(--border-settings);
  border-right: var(--border-settings);
}

.column1,
.column3 {
  display: grid;
  grid-row: 1fr 1fr;
}

.future > div:not(.center) > div:nth-child(1) {
  border-bottom: var(--border-settings);
}




/*
######################
#      featured      #
######################
*/

.featured {
  display: grid;
  grid-template-columns: 6.5vw 1fr;
  height: 130vh;
}

.featuredbanner {
  display: flex;
  flex-direction: column;
  border-right: var(--border-settings) ;
  border-bottom: var(--border-settings);
}

.featuredbanner > h2 {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  align-self: center;
  margin-top: 40px;
  /*I dont understand the transform property reasearch*/
}

.col--2 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows:1fr 24vh;
}

.col--2 > div > {
  display: flex;
  flex-direction: column;
}

.col--2 img {
  height: 35vw;
  width: auto;
}

.contents:nth-child(1):nth-child(1) {
  text-align: center;
}

.content--items ul li {
  display: inline;
}

.content--items ul {
  padding-left: 0;
}

.content--items ul li::after {
  content: ".";
  padding-left:5px;
  font-size: large;
}

.content--items ul li:last-child:after {
  content: "";
}

.contents {
  display: grid;
  grid-gap: 80px;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 5%;
}

.conend{
  display: flex;
  flex-direction: column;
  grid-row: 2;
  grid-column: 1/4;
  justify-content: center;
  text-align: center;
  padding-top: var(--space-70);
  border-top: var(--border-settings);
  border-bottom: var(--border-settings);
}

.expandcontent {
  font-size: 0;
}

.expandcontent > button:nth-child(2) {
  margin-left: -1px ;
}

.expandcontent > button {
  padding: 10px;
  border: var(--border-settings);
  color: var(--main-color);
}

/*
######################
#      reports       #
######################
*/

.reports {
  margin: 5%;
}

.h1overlay {
  display: grid;
}

.reports > .h1overlay > h1 {
  grid-column: 1;
  grid-row: 1;
  animation: LanguageSwap var(--stagger-animation) ease-out;
}

.h1overlay > h1:nth-child(1){
  animation-delay: calc(1 * var(--stagger-animation)) ;
}

.h1overlay > h1:nth-child(2) {
  animation-delay: calc(1.5 * var(--stagger-animation)) ;
  opacity: 0;
}

@keyframes LanguageSwap {
  from {
    opacity: 100;
  }
  25% {
    opacity: 100;
    transform: translateY(0px);
  }
  45% {
    opacity: 0;
    transform: translateY(-40px);
  }
  to {
    opacity: 0;
  }
}

/*
######################
#   Divider Gap      #
######################
*/

.dividergap2 {
  display: flex;
  padding-top: var(--space-80);
  padding-bottom: var(--space-80);
  border-top: var(--border-settings);
  background-color: var(--lightasfuck-blue);
  align-content: center;
  width: 100%;
}

.dividergap2 h3 {
  justify-content: left;
  width: 100%;
}

.dividergap2 h6 {
  justify-content: right;
}


/*
######################
#   Location         #
######################
*/

.location {
  display: flex;
  border-top: var(--border-settings);
  border-bottom: var(--border-settings);
  height: calc(100vh - var(--nav-height));
}


.banner3 {
  height: 100%;
  width: 150px;
  white-space: nowrap;
}

.banner3 {
  border-right: var(--border-settings);
}


.banner4 {
  position: relative;
  height: 100%;
  width: 150px;
  white-space: nowrap;
  border-right:var(--border-settings) ;
}

.banner3:hover,
.banner4:hover {
  z-index: 5;
  width: 200px;
}

.banner3:hover h2,
.banner4:hover h2 {
  transform: translate(0%) rotate(-90deg) translate(-250%);
}

.banner3 h2,
.banner4 h2  {
  transform: translate(0%) rotate(-90deg) translate(-350%);
}

.contents1 {
  grid-template-columns: 1fr 1fr;
  height: 100%;
  visibility: hidden;
  width: 0;
}

.contents1 img,
.contents2 img {
  margin: 5%;
  width: 50%;
  padding: 10px;
}


.contents2 {
  visibility:visible;
}



/*
######################
#     Workforce      #
######################
*/

.workforce {
  display:grid;
  grid-template-columns: 2fr 3fr;
  height: 70vh;
  border-bottom: var(--border-settings);
}

.col1--70vh {
  border-right: var(--border-settings) ;
}

.greeting:not(img)  {
  margin: 10%;
}

.handsomefellow {
  position: relative;
  left:-120px ;
  height:190px;
  z-index: 1;
}
.col2--70vh {
  display: grid;

}

.workplace,
.join{
  display: flex;
  border-bottom: var(--border-settings);
  align-items: center;
}

.retailers {
  display: flex;
  align-items: center;
}


.workplace > :nth-child(1),
.join > :nth-child(1),
.retailers > :nth-child(1) {
  margin-left: 20px;
}
/*
######################
#        stuff       #
######################
*/

.stuff {
  position: relative;
  padding: var(--space-70);
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 10% 1fr 10%;
  margin: 0 10%;
  gap: 50px;
}

.grid img {
  height:330px;
  width: auto;
}

/*
######################
#       footer       #
######################
*/

footer {
  display: grid;
  grid-template-columns: 8fr 2fr;
  grid-gap: 1px;
}

.grid-1 {
  display:grid;
  grid-gap: 4px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 0.5fr;
}

.grid-1:nth-child(1){
  background-color: var(--main-color);
  color:white;
}

.newsletter {
  grid-column: 1/3;
}

.grid-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.name {
  grid-row: 1/4;
  grid-column: 2;
}

.grid-2 img {
  background-color: #006EB6;
  height: 50px;
}

/*
######################
#   Ignore for now   #
######################
*/


.Searchbar {
  display:none;
}

/*
######################
#    Media Queries   #
######################
*/

@media only screen and (max-width:960px) {
  .segement-1 {
    display: grid;
    grid-template-rows: 1fr 1fr;
  }
  .col1 {
    grid-row: 2;
  }
  .col2 {
    display:flex;
    padding: var(--space-70);
    height: auto;
  }

  .col2 h1 {
    padding: 0;
  }
  .segement-1 .col--100vh {
    height: auto;
  }
  .buttons {
    padding: 0;
  }
}

