:root {
  --main-color:#006EB6;
  --main-font:"Comfortaa Light";
  --secondary-font:"Book Antiqua";
  --large-font:53px;
}

h1 {
  color: var(--main-color);
  font: var(--large-font) var(--secondary-font);
  font-weight: 750;
}

.segement-1 {
  display: grid;
  height: 94vh;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  grid-gap: 1rem; /*remove later*/
}

.segement-1 > div {
  background: lightcoral;
}

.col2 > h1{
  margin-left: 8%;
  margin-right: 8%;
}

.col2 > button {
  color: var(--main-color);
  border:solid 1px var(--main-color);
  padding: 20px;
}


