:root {
  --main-color:#006EB6;
  --main-font:"Comfortaa Light";
  --secondary-font:"Book Antiqua";
  --large-font:53px;
}

h1 {
  color: var(--main-color);
  font: var(--large-font) var(--secondary-font);
  font-weight: 750;
}

.segement-1 {
  position: relative;
  display: grid;
  height: 94vh;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
}

.segement-1 > div {
  background: lightcoral;
}

.col2 h1{
  position: absolute;
  top:25%;
  margin-left: 5%;
  margin-right:5%;
  
}

.col2 button {
  position: absolute;
  display: inline;
  color: var(--main-color);
  border:solid 1px var(--main-color);
  padding: 20px;
  top: 60%;
  margin-left:25% ;
  z-index: 2;
}


